<div class="container pt-3 pb-3">
    <nav class="d-flex w-100 justify-content-between">
        <div class="backwards p-1">
            <button class="btn pointer" (click)="changes('first')" [disabled]="page.isFirst">
                First
            </button>
            <button class="btn pointer" (click)="changes('prev')" [disabled]="!page.hasPrev">
                Prev
            </button>
        </div>

        <ul class="pagination m-0">
            <li class="page-item p-1" [ngClass]="{'active': page.isPage(index - 1)}" *ngFor="let index of page.pageNumbers">
                <button class="page-link" [disabled]="page.isPage(index - 1)"
                    (click)="changes('page', index - 1)">{{index}}</button>
            </li>
        </ul>

        <div class="forward p-1">
            <button class="btn pointer" (click)="changes('next')" [disabled]="!page.hasNext">
                Next
            </button>
            <button class="btn pointer" (click)="changes('last')" [disabled]="page.isLast">
                Last
            </button>
        </div>
    </nav>
</div>