<div class="container pt-2 pb-2">
    <nav class="d-flex w-100 justify-content-between">
        <div class="backwards">
            <button class="btn">
                First
            </button>
            <button class="btn">
                Prev
            </button>
        </div>

        <ul class="pagination">
            <li class="page-item pl-1 active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item pl-1"><a class="page-link" href="#">2</a></li>
            <li class="page-item pl-1"><a class="page-link" href="#">3</a></li>
            <li class="page-item pl-1"><a class="page-link" href="#">4</a></li>
            <li class="page-item pl-1"><a class="page-link" href="#">5</a></li>
        </ul>

        <div class="forward">
            <button class="btn btn-light">
                Next
            </button>
            <button class="btn btn-light">
                Last
            </button>
        </div>
    </nav>
</div>