<div class="row">
    <div class="container">
        <div class="d-flex w-100 justify-content-between filters">
            <nav class="p-2 navbar navbar-toggleable-md">
                <span class="navbar-text pr-2">
                    {{page.items.length}} {{entity}} <!--in-->
                </span>

                <!--<ul class="navbar-nav mr-auto   collapse">-->
                    <!--<li class="nav-item" *ngFor="let filtr of filters">-->
                        <!--<span class="btn">-->
                            <!--{{filtr}}-->
                            <!--<i class="fa fa-close pointer"></i>-->
                        <!--</span>-->
                    <!--</li>-->
                <!--</ul>-->
            </nav>
            <div class="p-2">
                <button class="btn btn-link pointer" *ngIf="!page.isFirst" (click)="changes('prev')">
                    <i class="fa fa-angle-left"></i>
                    Previous
                </button>
                <button class="btn btn-link pl-0 pointer" *ngIf="!page.isLast" (click)="changes('next')">
                    Next
                    <i class="fa fa-angle-right pl-1"></i>
                </button>
            </div>
        </div>
    </div>
</div>
