<div class="row">
    <div class="container">
        <div class="d-flex w-100 justify-content-between filters">
            <nav class="p-2 navbar navbar-toggleable-md">
                <span class="navbar-text pr-2">
                    100 Tutorials in
                </span>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngFor="let filtr of filters">
                        <button class="btn">
                            {{filtr}}
                            <i class="fa fa-close"></i>
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="p-2">
                <button class="btn btn-link">
                    <i class="fa fa-angle-left"></i>
                    Previous
                </button>
                <button class="btn btn-link pl-0">
                    Next
                    <i class="fa fa-angle-right pl-1"></i>
                </button>
            </div>
        </div>
    </div>
</div>
