@import "_grid";

.no-outline {
  outline: none;
}
.badge-notification {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: .4rem;
}

.pointer {
  cursor: pointer;
}

.fa.fa-star {
  background: #e3e3e3;
  padding: .5em;
  color: #fff;
  border-radius: 50px;
  &.active {
    background: #FED000;
  }
}