<div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group text-center">
        <button (click)="recoverPassword()" role="button" class="btn btn-primary">
            Recover Password
        </button>
    </div>
</div>

<div class="text-center">
    <span (click)="goTo('login')">Have Account?</span>
</div>