<!doctype html>
<html>
    <%- include includes/head.ejs %>
    <body>
        <div id="spinner-overlay"><div class="loader"></div></div>

        <div id="seo-content">
            <%- include includes/header.ejs %>
            SEO INCLUDED
        </div>

        <div id="ng-app">
            <h1>BOOTSTRAPPED SPA</h1>
        </div>
    </body>

    <%- include includes/scripts.ejs %>

</html>