loginInputEmail1<div>
    <div class="form-group">
        <label for="loginInputEmail1">Email address</label>
        <input [(ngModel)]="user.email" type="email" class="form-control" id="loginInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="loginInputPassword1">Password</label>
        <input [(ngModel)]="user.password" type="password" class="form-control" id="loginInputPassword1" placeholder="Password">
    </div>

    <div class="form-group text-center">
        <button (click)="login()" role="button" class="btn btn-primary">
            Login
        </button>
    </div>
    <div class="text-center">
        <p><a role="button" (click)="goTo('register')">Register?</a></p>

        <p><a role="button" (click)="goTo('recover-password')">Reset Password?</a></p>
    </div>

</div>
