<div>
    <alert-status *ngIf="type && msg" [msg]="msg" [type]="type"></alert-status>

    <form [formGroup]="user.form">
        <div class="form-group">
            <label for="loginInputEmail1">Email address</label>
            <input formControlName="email" type="text" class="form-control" id="loginInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="loginInputPassword1">Password</label>
            <input formControlName="password" type="password" class="form-control" id="loginInputPassword1" placeholder="Password">
        </div>
    </form>


    <div class="form-group text-center">
        <button (click)="login()"
                [disabled]="!user.validEmail || !user.password.length"
                role="button" class="btn btn-primary">
            Login
        </button>
    </div>
    <div class="text-center">
        <p><a role="button" (click)="goTo('register')">Register?</a></p>

        <p><a role="button" (click)="goTo('recover-password')">Reset Password?</a></p>
    </div>

</div>
