.card {
  button.btn {
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 5px;
    cursor: copy;
  }
  .card-img-top {
    max-height:200px;
  }
}
.media-overlay {
  margin-top: 56px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #fff;
  z-index: 99;
}