<nav class="navbar navbar-toggleable-md filters">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="fav = !fav; notify(fav)">
                    <i class="fa fa-star" [ngClass]="{'active': fav}"></i>
                    Tutorials
                </a>
            </li>
            <!--<li class="nav-item   collapse">-->
                <!--<a class="nav-link" (click)="filtersPane = !filtersPane">-->
                    <!--Filter-->
                    <!--<i class="fa fa-chevron-circle-right"></i>-->
                <!--</a>-->
            <!--</li>-->
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text"
                       placeholder="Filter by keyword"
                       aria-label="Filter by keyword"
                       #textFilter
                       (keyup)="onTextFilterChange(textFilter.value)"
                >
                <button (click)="clearTextFilter()" [disabled]="!textFilter.value.length">
                    <i class="fa"
                       [ngClass]="{'fa-search': !textFilter.value.length, 'fa-close': textFilter.value.length}"
                    ></i>
                </button>

            </form>
        </div>
    </div>
</nav>
<div class="filters-pane row" [ngbCollapse]="!filtersPane">
    <div class="container">
        <div class="row">
            <div class="col-md-3 pl-4">
                <h6>Stage</h6>
                <hr/>
                <ul>
                    <li>
                        Discovery
                    </li>
                    <li>
                        Define
                    </li>
                    <li>
                        Design
                    </li>
                    <li>
                        Design
                    </li>
                    <li>
                        Deployed
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h6>Domains</h6>
                <hr/>
                <div class="row">
                    <ul>
                        <li>Car</li>
                    </ul>
                    <ul>
                        <li>
                            Health
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Home
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Office
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>