.filters {
  ul {
    li {
      a {
        cursor: pointer;
      }
    }
  }
}
.filters-pane {
  position: absolute;
  width: 100%;
  z-index: 999;
  background: rgba(255,255,255,1);
  border-bottom: 2px solid #e3e3e3;
}