<nav class="navbar navbar-toggleable-md filters">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="fav = !fav; notify(fav)">
                    <i class="fa fa-star" [ngClass]="{'active': fav}"></i>
                    Tutorials
                </a>
            </li>
        </ul>
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group mt-3 hidden-md-up">
                        <input type="text" class="form-control" placeholder="Search for..."
                               #textFilter
                               (keyup)="onTextFilterChange(textFilter.value)" >
                        <span class="input-group-btn">
                            <button class="btn btn-secondary"
                                    (click)="clearTextFilter()" [disabled]="!textFilter.value.length"
                                    type="button">
                                <i class="fa"
                                    [ngClass]="{'fa-search': !textFilter.value.length, 'fa-close': textFilter.value.length}">
                                </i>
                            </button>
                        </span>
                    </div>
                    <div class="input-group hidden-sm-down">
                        <input type="text" class="form-control" placeholder="Search for..."
                               #textFilter
                               (keyup)="onTextFilterChange(textFilter.value)">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary"
                                    (click)="clearTextFilter()" [disabled]="!textFilter.value.length"
                                    type="button">
                                <i class="fa"
                                   [ngClass]="{'fa-search': !textFilter.value.length, 'fa-close': textFilter.value.length}">
                                </i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="filters-pane row" [ngbCollapse]="!filtersPane">
    <div class="container">
        <div class="row">
            <div class="col-md-3 pl-4">
                <h6>Stage</h6>
                <hr/>
                <ul>
                    <li>
                        Discovery
                    </li>
                    <li>
                        Define
                    </li>
                    <li>
                        Design
                    </li>
                    <li>
                        Design
                    </li>
                    <li>
                        Deployed
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h6>Domains</h6>
                <hr/>
                <div class="row">
                    <ul>
                        <li>Car</li>
                    </ul>
                    <ul>
                        <li>
                            Health
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Home
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Office
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>