<div *ngIf="!success">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group text-center">
        <button (click)="recoverPassword()" role="button" class="btn btn-primary">
            Recover Password
        </button>
    </div>

    <div class="text-center">
        <a role="button" (click)="goTo('login')">Have Account?</a>
    </div>
</div>

<div *ngIf="success">
    <div class="text-center">
        <p>A token to recover your password has been emailed to you.</p>

        <button (click)="close()" role="button" class="btn btn-primary">
            Done
        </button>
    </div>
</div>