<alert-status *ngIf="!success && type && msg" [msg]="msg" [type]="type"></alert-status>

<div *ngIf="!success && !type && !msg">

    <form [formGroup]="user.form">
        <div class="form-group">
            <label for="recoverInputEmail1">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="recoverInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
    </form>

    <div class="form-group text-center">
        <button (click)="recoverPassword()"
                [disabled]="!user.validEmail"
                role="button" class="btn btn-primary">
            Recover Password
        </button>
    </div>

    <div class="text-center">
        <a role="button" (click)="goTo('login')">Have Account?</a>
    </div>
</div>

<div *ngIf="success">
    <div class="text-center">
        <p>A token to recover your password has been emailed to you.</p>

        <button (click)="close()" role="button" class="btn btn-primary">
            Done
        </button>
    </div>
</div>
